.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  font-family: 'Comfortaa', cursive;
  font-style: bold;
  background-color: rgb(228, 213, 52);
}

tr:nth-child(even) {
  background-color: lightgray;
}


a {
  color:#44803F;
  text-decoration: none;
  font-variant: small-caps;
}

h1 {
  color:#146152;
  font-family: 'Comfortaa', cursive;
  background-color: rgb(228, 213, 52);
  text-shadow: white 3px 0px;
  box-shadow: 10px 5px 5px;
}

h2 {
  font-family: 'Comfortaa', cursive;
  font-style: italic;
  background-color: #B4CF66;
  animation-duration: 3s;
  animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

h3 {
  box-shadow: 5px 5px 5px;
  text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("https://foto.wuestenigel.com/wp-content/uploads/api/old-kitchen-utensils-hanging-on-the-wall.jpeg")
  }

main {
    padding: 0px;
    font-family: 'Comfortaa', cursive;
  }

  .footer {
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 0px;
    background-color: #B4CF66;
    font-size: 2ex;
    position:absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Comfortaa', cursive;
  }

  img {
    height: 200px;
  }

  nav {
    border-bottom: 1px solid #146152;
    padding: 16px;
    background-color: #FF5A33;
    color: white;
    font-family: 'Comfortaa', cursive;
  }

.bold-white {
    color: white;
    font-weight: bold;
  }

a:hover {
  background-color: blue;
  color: white;
  transition: 1s;

}
